
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: .5em 1em;
}

h1 {
  font-size: 5vw;
  color: gray;
}

h2 {
  text-align: center;
}

h4 {
  font-size: 6vw;
}

li, h5 {
  font-size: 3vw;
  list-style: none;
}
li:hover {
  color: gainsboro;
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4ems;
  color: gray;
}



.cont {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  vertical-align: top;
  margin-top: -5.5em;
}

.remaining {
  color: darkgrey;
}
.remaining span {
  color: dimgray;
}
.remaining:hover {
  color: gray;
}
.correct {
  margin: .5em;
  font-size: 4vw;
  verticle-align: center;
}

.start {
  border: 2px solid gainsboro;
  padding: 2em;
  margin: .5em;
  font-size: .75em;
  display: flex;
  align-items: center;
}

.start span {
  margin-top: -1.25em;
}

.start:focus, .start:active {
  outline:0;
}

.game {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
}

.name, .character {
  font-size: 6vw;
  padding: 1em;
  white-space: nowrap;
}
